@model IEnumerable<WebApp.Models.Employees>
@using WebApp.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
}

<div class="row">
<div class="col-xs-2 col-sm-2 col-md-3 col-lg-3 push-left">

<div class="sid">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a>Поиск</a></li>
            <form class="navbar-form" role="search">
                <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="searchString">
                <div class="input-group-btn">
                <button class="btn btn-default" asp-action="IndexClient" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
                </div>
            </form>
            <li>
                <a>
                    <div class="dropdown">
                    <span>Категории</span>
                    <div class="dropdown-content">
                        <form >
                        <ul>
                            <li class="active">
                                <label> Офис </label>
                                <div class="pull-right">
                                 @Html.CheckBox("Chbx1") 
                                </div>
                            </li>
                            <li class="active">
                                <label> Авто </label>
                                <div class="pull-right">
                                @Html.CheckBox("Chbx3")
                                </div>
                            </li>
                            <li class="active">
                                <label> Дом </label>
                                <div class="pull-right">
                                @Html.CheckBox("Chbx2")
                                </div>
                            </li>
                            <li class="active">
                                <label> Все </label>
                                <div class="pull-right">
                                @Html.CheckBox("Chbx5")
                                </div>
                            </li>
                        </ul>
                        <hr>
                        <div class="text-center">
                        <input asp-action="IndexClient" type="submit" value="Сортировать" class="btn btn-default"/>
                        </div>
                        </form>
                    </div>
                    </div>
                </a>
            </li>
            <li><a>Объявлений на сайте <span class="badge">@ViewBag.count</span></a></li>
          </ul>
        </div>
      </div>
    </div>

</div>
</div>
<div class="col-xs-10 col-sm-10 col-md-9 col-lg-9 pull-right">
<div class="row">
@foreach (var item in Model) {
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <div class="hovereffect">
        <img class="img-responsive" src="@item.ImgRes" >
        <div class="overlay">
                <h2>@item.Name</h2>
				<p>
					<a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> 
				</p>
        </div>
    </div>
    <div  class="text-center">
    <label>
        @Html.DisplayFor(modelItem => item.Name)
    </label>
    </div>
    <div>
        @Html.DisplayFor(modelItem => item.Category)
    </div>
    <div>
        @Html.DisplayFor(modelItem => item.Discription)
    </div>
    <div>
        @Html.DisplayFor(modelItem => item.Price)
    </div>
        @if (@item.Owner==@UserManager.GetUserName(User))
        {
        <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> 
        }
        <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> 
        @if (ViewContext.HttpContext.User.IsInRole("Admin")||(@item.Owner==@UserManager.GetUserName(User)))
        {
            <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
        }
        <div class="text-center">
            <input type="button" class="btn btn-info" value="Показать телефон" data-toggle="modal" data-target="#myModal">
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@item.Name Номер телефона: </h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            @Html.DisplayFor(modelItem => item.TelNumber)
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    </div>

                </div>
            </div>
        </div>
</div>
}
</div>
</div>
</div>